{% extends 'zephyrus/base.html' %}
{% load static %}

{% block title %}
    | Home
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'zephyrus/css/landing.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'zephyrus/css/slider.css' %}">
{% endblock %}

{% block scripts %}
    <link rel="sytlesheet" href="{% static 'zephyrus/js/landing.js' %}">
{% endblock %}

{% block body %}
    <!-- Slick slider -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <div class="wrapper">
        <div id="logo" class="d-flex justify-content-center align-items-center flex-column">
            <!-- particles.js -->
            <script src="{% static 'zephyrus/js/three.r92.min.js' %}"></script>
            <script src="{% static 'zephyrus/js/vanta.net.min.js' %}"></script>
            <script src="{% static 'zephyrus/js/particles.min.js' %}"></script>
            <script>
                particlesJS.load('particles-blue', '{% static 'zephyrus/assets/particlesjs-blue.json' %}', function () {
                    console.log('callback - particles.js blue config loaded');
                    particlesJS.load('particles-green', '{% static 'zephyrus/assets/particlesjs-green.json' %}', function () {
                        console.log('callback - particles.js green config loaded');
                        particlesJS.load('particles-orange', '{% static 'zephyrus/assets/particlesjs-orange.json' %}', function () {
                            console.log('callback - particles.js orange config loaded');
                        });
                    });
                });
            </script>

            <div id="particles-blue" class="particles-container"></div>
            <div id="particles-green" class="particles-container"></div>
            <div id="particles-orange" class="particles-container"></div>

            <div class="d-flex justify-content-center">
                <img width="50%" class="img-fluid mt-5 pt-5" src="{% static 'zephyrus/img/zephyrus_logo.svg' %}"
                     alt="Zephyrus Logo">
            </div>
            <h3 class="mx-3 mt-4 date"><i class="fas fa-calendar mx-2"
                                          style="position: relative; font-size: 2.0rem; top:5px"></i>March 16th 2022
            </h3>
            <div class="mt-5 wrapper">
                <a href="{% url 'visitors:login' symposium='zephyrus' %}" class="glass-button">Get your ticket! </a>
                {#                <a href="{% url 'committees' %}" class="glass-button">Get your ticket here! </a>#}
            </div>
            <a href="#intro" class="scroll-down"></a>
        </div>

    </div>

    <div id="banner" class="partners slick-slider">

        <a href="https://www.yer.nl/EN/13379593/CV-check-Symposium.html?utm_source=websiteSymposium">
            <div class="center-slick-slider"><img class="slider-element" alt="YER"
                                                  src="{% static 'zephyrus/img/partners/YER.png' %}"></div>
        </a>
        <a href="https://sst-software.nl">
            <div class="center-slick-slider"><img class="slider-element" alt="SST"
                                                  src="{% static 'zephyrus/img/partners/sst.png' %}"></div>
        </a>
        <a href="https://careers.imc.com/eu/en">
            <div class="center-slick-slider"><img class="slider-element" alt="IMC"
                                                  src="{% static 'zephyrus/img/partners/IMC.jpg' %}"></div>
        </a>
    </div>

    <script>
        $(document).ready(function () {
            console.log(Math.floor(Math.random() * $('#banner').length))
            $('.slick-slider').slick({
                accessibility: false,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 2000,
                slidesToShow: 1,
                centerMode: true,
                centerPadding: '-200px',
                arrows: false,
                initialSlide: Math.floor(Math.random() * $('#banner').children().length),
                //variableWidth: true,
            })
        });
    </script>


    <div id="intro" class="container-narrow">
        <div class="d-flex justify-content-center">

            <div>
                <h1>Zephyrus</h1>
                <span class="definition"><i> <b>noun: </b>The Ancient Greek god of the west wind, supposed to be the
                        gentlest of the winds and the messenger of spring</i></span>

                <hr>
                <p class="description narrow">

                    <i>‘Showers starting above Enschede in 10 minutes’</i>, a simple notification of just a simple
                    weather app.
                    The question arises: How can a simple app know this and why is it so accurate? IT plays a large role
                    in how we
                    perceive our surroundings and adjust our behaviour accordingly.Symposium Zephyrus will examine the
                    link between IT and the Environment:
                    What is the effect of cryptocurrency on our environment or of 5G on plants and wildlife;
                    How can we make programs consume less power; and what does the future hold for us. During the
                    Symposium,
                    we will cover the many roles IT plays in the environment.
                    <br><br>

                    <i>Have we sparked your interest? Visit our symposium on the 16th of March 2022!</i>


                </p>

            </div>
        </div>
    </div>

    <!-- Location info / date info    -->
    <div class="location white section">
        <div class="container-fluid">
            <div class="row">
                <!-- Information  -->
                <div class="d-lg-flex justify-content-lg-center d-flex justify-content-center">
                    <button id="calendar" type="button" class="btn-grad btn"
                            onclick="window.open('https://calendar.google.com/event?action=TEMPLATE&tmeid=Mmd0aDE0bmNvNGUxcHRzYmtvdXNscjdnNzMgY192dXZ0djlxMWF1Zmg5cTJtMXVoNjcxa2c2c0Bn&tmsrc=c_vuvtv9q1aufh9q2m1uh671kg6s%40group.calendar.google.com','_blank')">
                        Add to Calendar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

