body{
    background-color: #ffffff;
    text-align: center;
    width:100%;
    height:100%;
    margin:0;
    font-family: 'Lato', sans-serif !important;
    letter-spacing: 1px;
}

h3{
    color: white;
    font-weight: 100;
}
p{
    font-weight:400;
    color: black;
    font-size: large;
}

h1 {
    color: #0191B4 !important;
    font-size: 72px !important;
    font-weight: bold !important;
    margin-bottom: 10% !important;
}


footer{
    margin: 3rem;
}
