.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    */
}
.slider-element {
    
    display: block;
    max-height: 300px;
    width: auto;
    /*
    max-width: 100vw;
    max-height: 300px;
    */
    
}
.slick-slider img {
    display: block;
}

img {
    max-width: 100%;
    vertical-align: middle;
}