{% extends 'zephyrus/base.html' %}
{% load static %}
{% block title %}
    | Location
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'zephyrus/css/location.css' %}">
{% endblock %}

{% block scripts %}
    {#    <script src="{% static 'zephyrus/js/location.js' %}"></script>#}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="description section">
            <div class="pt-5 container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-10 offset-1">
                        <h1>Location</h1>
                        <p>
                            We are happy to announce that Symposium Zephyrus will be held <b> physically at
                            Kinepolis</b>!
                            Kinepolis located near the Enschede Kennispark Station, and only 10 minutes away by
                            bike from the University.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.2805174513323!2d6.8334253159801825!3d52.2382882648205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8122d5d9832c3%3A0xc739f86ce7a7b66a!2sKinepolis%20Enschede!5e0!3m2!1sen!2snl!4v1643139612169!5m2!1sen!2snl"
                    width="80%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="pt-3">
            <div class="description col-md-8 offset-md-2 col-10 offset-1">
            <h2>Directions</h2>
            <h3 class="sub">From campus / From Enschede</h3>
                    <p>1. From the main entrance of the campus (Drienerlolaan), drive along the Hengelosestraat towards
                        the direction of Enschede Kennispark (or Hengelo).
                    </p>
                    <p>2. Turn left on Capitool and reach the Enschede Kennispark station (or Grolsch Veste stadium).</p>
                    <p>3. Turn right until you see Kinepolis.</p>
            </div>

            <h2>Entrance</h2>
            <h3 class="sub">This is where you can find the entrance to our symposium!</h3>
            <img src="{% static 'zephyrus/img/location/Kinepolis-Enschede.jpg'%}"
                 alt="Kinepolis Entrance"
                style="width:50%"/>
        </div>
    </div>
{% endblock %}
