{% extends 'zephyrus/base.html' %}
{% load static %}

{% block title %}
    | Partners
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'zephyrus/css/partners.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="description pt-5 container-fluid">
            <div class="row">
                <div class="col-10 offset-1 col-md-8 offset-md-2 d-flex justify-content-center">
                    <h1>Partners</h1>
                </div>
                <div class="subtitle">
                    <p>Symposium Zephyrus is made in cooperation with:</p>
                </div>
            </div>
            <div class="row">
                {% for partner in partners %}
                    {% if partner.logo %}
                        <div class="col-10 offset-1 col-md-4 offset-md-0 d-flex align-items-center justify-content-center company">
                            <a href="{{ partner.website }}">
                                <img alt="{{ partner.name }}" src="{{ partner.logo.url }}"/>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                {# For testing #}
                {#                <div class="col-10 offset-1 col-md-4 offset-md-0 d-flex align-items-center justify-content-center company">#}
                {#                    <a>#}
                {#                        <img alt="ia-logo" src="{% static 'zephyrus/img/ia-logo.png' %}"/>#}
                {#                    </a>#}
                {#                </div>#}

            </div>
        </div>
    </div>
{% endblock %}
